
/*********************global*****************/
.forms-inputs{
  margin-top: 3px;
}
.forms-inputs p{
  color: #fff;
  margin: 0px 0px 3px 0px;
}
.forms-inputs input[type=text],.forms-inputs input[type=password]{
  color: #fff;
  font-size: 17px;
  border: 0;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 3px 10px 2px 10px;
  width: 100%;

}
.forms-inputs input[type=text]:focus,.forms-inputs input[type=password]:focus{
  background-color: rgb(0, 0, 0, 0.5);
}
/*********************btn*****************/
/*h*/
.btn-h{
  color: #fff;
  background-color: rgb(17,79,43,0.9);
  min-width: 150px;
  padding: 10 !important;
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 18px;
}
.btn-h:hover{
  color: #eee;
  transform: scale(0.9);
  transition: 0.4s;
}
.btn-h:not(:hover){
  transform: scale(1);
  transition: 0.4s;
}
/*f*/
.btn-f{
  color: #fff;
  background-color: #4d6c8b;
  min-width: 150px;
  padding: 10 !important;
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 18px;
}
.btn-f:hover{
  color: #eee;
  transform: scale(0.9);
  transition: 0.4s;
}
.btn-f:not(:hover){
  transform: scale(1);
  transition: 0.4s;
}

/*w*/
.btn-w{
  color: #fff;
  background-color: #34495e;
  min-width: 150px;
  padding: 10 !important;
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 18px;
  border: #fff 1px solid !important;
  /*transform: rotate(3) !important;*/
}
.btn-w:hover{
  color: #bdc3c7;
  /*transform: scale(0.9);*/
  transition: 1s;
  background-color: #2c3e50;
  transform: rotate(3);
}
/*.btn-w:not(:hover){
  transform: scale(1);
  transition: 1s;
}*/
/*********************NavBar*****************/
.nav-color{
  background-color: #27ae60 !important;
}

.nav-link{
  text-decoration: none;
  color: #fff !important;
  padding: 5px 20px 5px 20px !important;
  text-align: center;
}

.nav-link:hover{
  background-color: rgb(0,0,0,0.3);
  transform: scale(0.9);
  transition: 0.5s ;
}

.nav-link:not(:hover){
  transition: 0.5s;
}

/***********************Tool bar***********************/
.tool-bar{
  background-color: rgb(0, 0, 0,0.7);
  color: #fff !important;
  min-height: 50px;
  padding: 10px 3px 10px 10px;
}
.search-box{
  vertical-align: middle;
  display:inline-block !important:
}
.search-box input, .search-box button{
  border: none;
  vertical-align: middle;
  display: inline-block;
  padding: 3px;
  min-width: 36px;
  min-height: 35px;

}
.search-box button{
  border-radius: 50%;
}

.move-h:hover{
  transform: rotate(3turn) !important;
  transition: -1s !important;
}

/***********************add_items***********************/

.add_items{
  float: right;
  padding: 50px;
  color: #fff;
}
.add_items span{
  float: right;
  font-size: 1.1em;
}
.add_items input[type=text],.add_items input[type=passord]{
  border: none;
  margin-right: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  width: 300px;
}
