/*********************global*****************/
@font-face {
    font-family: cairo;
    src: url(../fonts/Cairo-Light.ttf);
}
@font-face {
    font-family: cairo-t;
    src: url(../fonts/Cairo-Black.ttf);
}

html{
  margin: 0;
  padding: 0;
  box-sizing: content-box;

}
body{
  /*overflow: scroll;*/
  font-size: 0.900em;
  margin: 0;
  padding: 0;
  font-family: 'cairo', sans-serif;
  /*background-image: url(../img/E-heart.jpg);*/
  /*background-image: url(../img/heart.jpg);*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

h1,h2,h3{
  font-family: 'cairo-t', cursive;
}

.cont{
  margin: 0px 2% 0px 2%;
}

.btn-h{
  color: #fff;
  background-color: rgb(17,79,43,0.9);
  min-width: 150px;
  padding: 10 !important;
  vertical-align: middle !important;
  text-align: center !important;
  font-size: 18px;
}
.btn-h:hover{
  color: #eee;
  transform: scale(0.9);
  transition: 0.4s;
}
.btn-h:not(:hover){
  transform: scale(1);
  transition: 0.4s;
}

.forms-inputs{
  margin-top: 3px;
}
.forms-inputs p{
  color: #fff;
  margin: 0px 0px 3px 0px;
}
.forms-inputs input[type=text],.forms-inputs input[type=password]{
  color: #fff;
  font-size: 17px;
  border: 0;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 3px 10px 2px 10px;
  width: 100%;

}
.forms-inputs input[type=text]:focus,.forms-inputs input[type=password]:focus{
  background-color: rgb(0, 0, 0, 0.5);
}

/*********************NavBar*****************/
.nav-color{
  background-color: #27ae60 !important;
}

.nav-link{
  text-decoration: none;
  color: #fff !important;
  padding: 5px 20px 5px 20px !important;
  text-align: center;
}

.nav-link:hover{
  background-color: rgb(0,0,0,0.3);
  /*transform: rotate(0.001turn);*/
  transform: scale(0.9);
  transition: 0.5s ;
}

.nav-link:not(:hover){
  transition: 0.5s;
}



/*********************slide*****************/



.toggled , .navbar-nav{
  /*transition: 2s;*/
}

.navbar-nav{
  /*font-size: 1.30em !important;*/
}

.side {
  /*position: relative;
  box-sizing: content-box;
  float: right;*/
}

.sidebar li a{
  /*position: relative !important;*/
  /*right: 0;*/

  /*text-align: right !important;*/
  /*vertical-align: */
  /*width: 100%;*/
}

#content-wrapper{
  /*float: left !important;*/
}

.mini-bord{
  /*position: absolute;*/
  /*left: 0 !important;*/
  /*background-color: #ccc !important;*/
}
